streamlit==1.36.0
reportlab==4.2.2
streamlit-authenticator==0.3.2
python-gettext==5.0
xlsxwriter==3.2.0
pymongo==4.8.0
pyyaml==6.0.1
pandas==1.5.3
# numpy version to any before the 2.0.0 for Pandas compatibility 
numpy==1.26.4
nc_py_api==0.6.0
pyshorteners==1.0.1